## Coupons

Coupons can be seen as templates for [subscription discounts](#discounts).

##### Attributes
|||
--:|:--
<span class="console-font">**id**</span><br />*string*<br />Required | ID of the coupon. Must be unique to the project
<span class="console-font">**amount_off**</span><br />*string*<br />Required if percent_off is null | Amount to be discounted from the subscription
<span class="console-font">**percent_off**</span><br />*integer*<br />Required if amount_off is null | Percentage of the subscription amount to be discounted. Ex: `25` 
<span class="console-font">**currency**</span><br />*string*<br />Required if amount_off is set | Currency of the coupon, in the ISO 4217 format (ex: `USD`)
<span class="console-font">**iteration_count**</span><br />*integer* | Number of iteration of the subscription the coupon will last. `3` on a monthly subscription will make the coupon last 3 months. `0` makes the coupon last forever
<span class="console-font">**max_redemptions**</span><br />*integer* | Maximum number of times a coupon can be redeemed (ie applied on a subscription) by your customers before expiring
<span class="console-font">**expires_at**</span><br />*string* | Date at which the coupon will automatically expire
<span class="console-font">**metadata**</span><br />[Metadata](#metadata)<br />*dictionary* | Context related to the coupon, key-value pair (string - string)
<span class="console-font">**sandbox**</span><br />*boolean*<br />Read-only |


### Create a coupon

```shell
curl -X POST https://api.processout.com/coupons \
    <%= partial "header-curl" %> \
    -d id="25percentoff" \
    -d percent_off=25
```

```javascript
<%= partial "header-js" %>
var coupon = client.newCoupon().create({
    id:          "25percentoff",
    percent_off: 25
}).then(
    function(coupon) {
        // 

    }, function(err) {
        // An error occured
    });
```

```python
<%= partial "header-python" %>
coupon = client.new_coupon().create({
    "id":          "25percentoff",
    "percent_off": 25
})
```

```ruby
<%= partial "header-ruby" %>
coupon = client.coupon.create(
    id:          "25percentoff",
    percent_off: 25
)
```

```php
<?php
<%= partial "header-php" %>
$coupon = $client->newCoupon()->create(array(
    "id"          => "25percentoff",
    "percent_off" => 25
));
```

```go
<%= partial "header-go" %>
coupon, err := client.NewCoupon().Create(processout.CouponCreateParameters{
    Coupon: &processout.Coupon{
        ID:         processout.String("25percentoff"),
        PercentOff: processout.Int64(25),
    },
})
```

Create a coupon with the given attributes.

Once a coupon is create, you can use it to [create a discount](#discounts).

### Fetch a coupon

```shell
curl -X GET https://api.processout.com/coupons/25percentoff \
    <%= partial "header-curl" %>
```

```javascript
<%= partial "header-js" %>
client.newCoupon().find("25percentoff").then(
    function(coupon) {
        // 

    }, function(err) {
        // An error occured

    });
```

```python
<%= partial "header-python" %>
coupon = client.new_coupon().find("25percentoff")
```

```ruby
<%= partial "header-ruby" %>
coupon = client.coupon.find("25percentoff")
```

```php
<%= partial "header-php" %>
$coupon = $client->newCoupon()->find("25percentoff");
```

```go
<%= partial "header-go" %>
coupon, err := client.NewCoupon().Find("25percentoff")
```

Fetch a coupon from its ID. Throws an error if the coupon could
not be found.

### Delete a coupon

```shell
curl -X DELETE https://api.processout.com/coupons/25percentoff \
    <%= partial "header-curl" %>
```

```javascript
<%= partial "header-js" %>
client.newCoupon({
    id: "25percentoff"
}).delete("25percentoff").then(function(ok) {
        // 

    }, function(err) {
        // An error occured

    });
```

```python
<%= partial "header-python" %>
client.new_coupon({
    "id": "25percentoff"
}).delete()
```

```ruby
<%= partial "header-ruby" %>
client.coupon(
    id: "25percentoff"
).delete
```

```php
<%= partial "header-php" %>
$client->newCoupon(array(
    "id" => "25percentof"
))->delete();
```

```go
<%= partial "header-go" %>
err = client.NewCoupon(&processout.Coupon{
    ID: processout.String("25percentoff"),
}).Delete()
```

Deletes a plan. An error is thrown if the plan could not be deleted.
