## Coupons

Coupons can be seen as templates for [subscription discounts](#discounts).

##### Attributes
|||
--:|:--
<span class="console-font">**id**</span><br />*string*<br />Required | ID of the coupon. Must be unique to the project
<span class="console-font">**amount_off**</span><br />*string*<br />Required if percent_off is null | Amount to be discounted from the subscription
<span class="console-font">**percent_off**</span><br />*integer*<br />Required if amount_off is null | Percentage of the subscription amount to be discounted. Ex: `25` 
<span class="console-font">**currency**</span><br />*string*<br />Required if amount_off is set | Currency of the coupon, in the ISO 4217 format (ex: `USD`)
<span class="console-font">**iteration_count**</span><br />*integer* | Number of iteration of the subscription the coupon will last. `3` on a monthly subscription will make the coupon last 3 months. `0` makes the coupon last forever
<span class="console-font">**max_redemptions**</span><br />*integer* | Maximum number of times a coupon can be redeemed (ie applied on a subscription) by your customers before expiring
<span class="console-font">**expires_at**</span><br />*string* | Date at which the coupon will automatically expire
<span class="console-font">**metadata**</span><br />[Metadata](#metadata)<br />*dictionary* | Context related to the recurring invoice, key-value pair (string - string)
<span class="console-font">**sandbox**</span><br />*boolean*<br />Read-only |


### Create a coupon

```shell
curl https://api.processout.com/coupons \
    -u proj_OvJdvN73Ds1pecfQez2J13pK1YlRqFh4:key-qiOniTQlt8OazoMrnYJKaSnBhRpWN5Rd \
    -d id="25percentoff" \
    -d percent_off=25
```

```javascript
<%= partial "header-js" %>
var coupon = client.newCoupon({
    id:          "25percentoff",
    percent_off: 25
}).create().then(
    function(coupon) {
        // 

    }, function(err) {
        // An error occured
    });
```

```python
<%= partial "header-python" %>
coupon = client.new_coupon({
    "id":          "25percentoff",
    "percent_off": 25
}).create()
```

```ruby
<%= partial "header-ruby" %>
coupon = client.coupon.new(
    id:          "25percentoff",
    percent_off: 25
).create
```

```php
<?php
<%= partial "header-php" %>
$coupon = $client->newCoupon(array(
    "id"          => "25percentoff",
    "percent_off" => 25
))->create();
```

```go
<%= partial "header-go" %>
coupon, err := client.NewCoupon(&processout.Coupon{
    ID:         "25percentoff",
    PercentOff: 25,
}).Create()
```

Create a coupon with the given attributes.

### Fetch a coupon

```shell
curl https://api.processout.com/coupons/25percentoff \
    -u proj_OvJdvN73Ds1pecfQez2J13pK1YlRqFh4:key-qiOniTQlt8OazoMrnYJKaSnBhRpWN5Rd
```

```javascript
<%= partial "header-js" %>
client.newCoupon().find("25percentoff").then(
    function(coupon) {
        // 

    }, function(err) {
        // An error occured

    });
```

```python
<%= partial "header-python" %>
coupon = client.new_coupon().find("25percentoff")
```

```ruby
<%= partial "header-ruby" %>
coupon = client.coupon.find("25percentoff")
```

```php
<%= partial "header-php" %>
$coupon = $client->newCoupon()->find("25percentoff");
```

```go
<%= partial "header-go" %>
coupon, err := client.NewCoupon().Find("25percentoff")
```

Fetch a coupon from its ID. Throws an error if the coupon could
not be found.

### Apply a coupon

```shell
curl https://api.processout.com/subscriptions/sub_7kAxfNML6jIc3bltGIt0uK2nKHDyzzq3/discounts \
    -u proj_OvJdvN73Ds1pecfQez2J13pK1YlRqFh4:key-qiOniTQlt8OazoMrnYJKaSnBhRpWN5Rd \
    -d coupon_id=25percentoff
```

```javascript
<%= partial "header-js" %>
subscription.applyCoupon("25percentoff").then(
    function(discount) {
        // 

    }, function(err) {
        // An error occured
    });
```

```python
<%= partial "header-python" %>
discount = subscription.apply_coupon("25percentoff")
```

```ruby
<%= partial "header-ruby" %>
discount = subscription.apply_coupon("25percentoff")
```

```php
<%= partial "header-php" %>
$discount = $subscription->applyCoupon("25percentoff");
```

```go
<%= partial "header-go" %>
discount, err := sub.ApplyCoupon("25percentoff")
```

Apply a coupon on a subscription. Throws an error if the coupon could not be applied.

### Delete a coupon

```shell
curl -X DELETE https://api.processout.com/coupons/25percentoff \
    -u proj_OvJdvN73Ds1pecfQez2J13pK1YlRqFh4:key-qiOniTQlt8OazoMrnYJKaSnBhRpWN5Rd
```

```javascript
<%= partial "header-js" %>
client.newCoupon({
    id: "25percentoff"
}).delete("25percentoff").then(function(ok) {
        // 

    }, function(err) {
        // An error occured

    });
```

```python
<%= partial "header-python" %>
client.new_coupon({
    "id": "25percentoff"
}).delete()
```

```ruby
<%= partial "header-ruby" %>
client.coupon(
    id: "25percentoff"
).delete
```

```php
<%= partial "header-php" %>
$client->newCoupon(array(
    "id" => "25percentof"
))->delete();
```

```go
<%= partial "header-go" %>
err = client.NewCoupon(&processout.Client{
    ID: "25percentoff",
}).Delete()
```

Deletes a plan. An error is thrown if the plan could not be deleted.
