## Discounts

Discount objects represent discounts applied to your customers' subscriptions.

##### Attributes
|||
--:|:--
<span class="console-font">**id**</span><br />*string* | 
<span class="console-font">**subscription**</span><br />*subscription_id*<br />*[Subscription](#subscriptions) expandable* | Subscription on which the discount was applied
<span class="console-font">**coupon**</span><br />*coupon_id*<br />*[Coupon](#coupons) expandable* | Coupon used to generate the discount
<span class="console-font">**amount**</span><br />*string*<br /><span class="highlighted">Required</span> | Amount discounted from the subscription
<span class="console-font">**expires_at**</span><br />*string* | Date at which the coupon will automatically expire
<span class="console-font">**metadata**</span><br />[Metadata](#metadata)<br />*dictionary* | Context related to the subscription, key-value pair (string - string)
<span class="console-font">**sandbox**</span><br />*boolean*<br />Read-only |


### Apply a discount

```shell
curl https://api.processout.com/subscriptions/sub_7kAxfNML6jIc3bltGIt0uK2nKHDyzzq3/discounts \
    <%= partial "header-curl" %> \
    -d amount=5

# or
curl https://api.processout.com/subscriptions/sub_7kAxfNML6jIc3bltGIt0uK2nKHDyzzq3/discounts \
    <%= partial "header-curl" %> \
    -d coupon_id=25percentoff
```

```javascript
<%= partial "header-js" %>
client.newDiscount().apply({
    subscription_id: "sub_7kAxfNML6jIc3bltGIt0uK2nKHDyzzq3",
    amount:          "5"
}).then(
    function(discount) {
        // 

    }, function(err) {
        // An error occured
    });

// or
client.newDiscount().create({
    subscription_id: "sub_7kAxfNML6jIc3bltGIt0uK2nKHDyzzq3",
    coupon_id:       "25percentoff"
});
```

```python
<%= partial "header-python" %>
discount = client.new_discount().apply({
    "subscription_id": "sub_7kAxfNML6jIc3bltGIt0uK2nKHDyzzq3",
    "amount":          "5"
})

# or 
discount = client.new_discount().create({
    "subscription_id": "sub_7kAxfNML6jIc3bltGIt0uK2nKHDyzzq3",
    "coupon_id":       "25percentoff"
})
```

```ruby
<%= partial "header-ruby" %>
discount = client.discount.new().apply(
    subscription_id: "sub_7kAxfNML6jIc3bltGIt0uK2nKHDyzzq3",
    amount:          "5"
)

# or
discount = client.discount.new().create(
    subscription_id: "sub_7kAxfNML6jIc3bltGIt0uK2nKHDyzzq3",
    coupon_id:       "25percentoff"
)
```

```php
<%= partial "header-php" %>
$discount = $client->newDiscount()->apply(array(
    "subscription_id" => "sub_7kAxfNML6jIc3bltGIt0uK2nKHDyzzq3",
    "amount"          => "5"
));

// or
$discount = $client->newDiscount()->create(array(
    "subscription_id" => "sub_7kAxfNML6jIc3bltGIt0uK2nKHDyzzq3",
    "coupon_id"       => "25percentoff"
));
```

```go
<%= partial "header-go" %>
discount, err := client.NewDiscount().Apply(&processout.DiscountCreateParameter{
    Discount: &processout.Discount{
        SubscriptionID: "sub_7kAxfNML6jIc3bltGIt0uK2nKHDyzzq3",
        Amount:         5,
    }})

// or 
discount, err := client.NewDiscount().Create(&processout.DiscountCreateParameter{
    Discount: &processout.Discount{
        SubscriptionID: "sub_7kAxfNML6jIc3bltGIt0uK2nKHDyzzq3",
        CouponID:       "25percentoff",
    }})
```

Apply a discount for a subscription with the given attributes.

It is also possible to [apply a coupon to a subscription](#apply-a-coupon).

### Fetch a discount

```shell
curl https://api.processout.com/subscriptions/sub_7kAxfNML6jIc3bltGIt0uK2nKHDyzzq3/discounts/disc_F9NXdvflVDyE3KOz2qxLw0e31eBeLcDq \
    <%= partial "header-curl" %>
```

```javascript
<%= partial "header-js" %>
client.newDiscount().find("sub_7kAxfNML6jIc3bltGIt0uK2nKHDyzzq3",
    "disc_F9NXdvflVDyE3KOz2qxLw0e31eBeLcDq").then(
        function(discount) {
            // 

        }, function(err) {
            // An error occured

        });
```

```python
<%= partial "header-python" %>
discount = client.new_discount().find("sub_7kAxfNML6jIc3bltGIt0uK2nKHDyzzq3",
    "disc_F9NXdvflVDyE3KOz2qxLw0e31eBeLcDq")
```

```ruby
<%= partial "header-ruby" %>
discount = client.discount.find("sub_7kAxfNML6jIc3bltGIt0uK2nKHDyzzq3",
    "disc_F9NXdvflVDyE3KOz2qxLw0e31eBeLcDq")
```

```php
<%= partial "header-php" %>
$discount = $client->newDiscount()->find("sub_7kAxfNML6jIc3bltGIt0uK2nKHDyzzq3",
    "disc_F9NXdvflVDyE3KOz2qxLw0e31eBeLcDq");
```

```go
<%= partial "header-go" %>
discount, err := client.NewDiscount().Find("sub_7kAxfNML6jIc3bltGIt0uK2nKHDyzzq3",
    "disc_F9NXdvflVDyE3KOz2qxLw0e31eBeLcDq")
```

Fetch a discount from its ID and subscription. Throws an error if the discount could
not be found.

### Delete a discount

```shell
curl -X DELETE https://api.processout.com/subscriptions/sub_7kAxfNML6jIc3bltGIt0uK2nKHDyzzq3/discounts/disc_F9NXdvflVDyE3KOz2qxLw0e31eBeLcDq \
    <%= partial "header-curl" %>
```

```javascript
<%= partial "header-js" %>
client.newDiscount().delete("sub_7kAxfNML6jIc3bltGIt0uK2nKHDyzzq3",
    "disc_F9NXdvflVDyE3KOz2qxLw0e31eBeLcDq").then(
        function(success) {
            // 

        }, function(err) {
            // Could not delete it

        });
```

```python
<%= partial "header-python" %>
client.new_discount().delete("sub_7kAxfNML6jIc3bltGIt0uK2nKHDyzzq3",
    "disc_F9NXdvflVDyE3KOz2qxLw0e31eBeLcDq")
```

```ruby
<%= partial "header-ruby" %>
client.discount.delete("sub_7kAxfNML6jIc3bltGIt0uK2nKHDyzzq3",
    "disc_F9NXdvflVDyE3KOz2qxLw0e31eBeLcDq")
```

```php
<%= partial "header-php" %>
$client->newDiscount()->delete("sub_7kAxfNML6jIc3bltGIt0uK2nKHDyzzq3",
    "disc_F9NXdvflVDyE3KOz2qxLw0e31eBeLcDq");
```

```go
<%= partial "header-go" %>
err := client.NewDiscount().Delete("sub_7kAxfNML6jIc3bltGIt0uK2nKHDyzzq3",
    "disc_F9NXdvflVDyE3KOz2qxLw0e31eBeLcDq")
```

Removes a discount from a subscription. An error is thrown if the discount 
could not be removed.
