## Discounts

Discount objects represent discounts applied to your customers' subscriptions.

##### Attributes
|||
--:|:--
<span class="console-font">**id**</span><br />*string* | 
<span class="console-font">**subscription**</span><br />*[Subscription](#subscriptions)*<br />Read-only, expandable | Subscription on which the discount was applied
<span class="console-font">**coupon**</span><br />*[Coupon](#coupons)*<br />Read-only, expandable | Coupon used to generate the discount
<span class="console-font">**amount**</span><br />*string*<br /><span class="highlighted">Required</span> | Amount discounted from the subscription
<span class="console-font">**expires_at**</span><br />*string* | Date at which the coupon will automatically expire
<span class="console-font">**metadata**</span><br />[Metadata](#metadata)<br />*dictionary* | Context related to the recurring invoice, key-value pair (string - string)
<span class="console-font">**sandbox**</span><br />*boolean*<br />Read-only |


### Apply a discount

```shell
curl https://api.processout.com/subscriptions/sub_7kAxfNML6jIc3bltGIt0uK2nKHDyzzq3/discounts \
    -u proj_OvJdvN73Ds1pecfQez2J13pK1YlRqFh4:key-qiOniTQlt8OazoMrnYJKaSnBhRpWN5Rd \
    -d amount=5
```

```javascript
<%= partial "header-js" %>
client.newDiscount({
    amount: "5"
}).apply("sub_7kAxfNML6jIc3bltGIt0uK2nKHDyzzq3").then(
    function(discount) {
        // 

    }, function(err) {
        // An error occured
    });
```

```python
<%= partial "header-python" %>
discount = client.new_discount({
    "amount": "5"
}).apply("sub_7kAxfNML6jIc3bltGIt0uK2nKHDyzzq3")
```

```ruby
<%= partial "header-ruby" %>
discount = client.discount.new(
    amount: "5"
).apply("sub_7kAxfNML6jIc3bltGIt0uK2nKHDyzzq3")
```

```php
<%= partial "header-php" %>
$discount = $client->newDiscount(array(
    "amount": "5"
))->apply("sub_7kAxfNML6jIc3bltGIt0uK2nKHDyzzq3");
```

```go
<%= partial "header-go" %>
discount, err := client.NewDiscount(&processout.Discount{
    Amount: 5,
}).Apply("sub_7kAxfNML6jIc3bltGIt0uK2nKHDyzzq3")
```

Apply a discount for a subscription with the given attributes.

It is also possible to [apply a coupon to a subscription](#apply-a-coupon).

### Fetch a discount

```shell
curl https://api.processout.com/subscriptions/sub_7kAxfNML6jIc3bltGIt0uK2nKHDyzzq3/discounts/disc_F9NXdvflVDyE3KOz2qxLw0e31eBeLcDq \
    -u proj_OvJdvN73Ds1pecfQez2J13pK1YlRqFh4:key-qiOniTQlt8OazoMrnYJKaSnBhRpWN5Rd
```

```javascript
<%= partial "header-js" %>
client.newDiscount().find("sub_7kAxfNML6jIc3bltGIt0uK2nKHDyzzq3",
    "disc_F9NXdvflVDyE3KOz2qxLw0e31eBeLcDq").then(
        function(discount) {
            // 

        }, function(err) {
            // An error occured

        });
```

```python
<%= partial "header-python" %>
discount = client.new_discount().find("sub_7kAxfNML6jIc3bltGIt0uK2nKHDyzzq3",
    "disc_F9NXdvflVDyE3KOz2qxLw0e31eBeLcDq")
```

```ruby
<%= partial "header-ruby" %>
discount = client.discount.find("sub_7kAxfNML6jIc3bltGIt0uK2nKHDyzzq3",
    "disc_F9NXdvflVDyE3KOz2qxLw0e31eBeLcDq")
```

```php
<%= partial "header-php" %>
$discount = $client->newDiscount()->find("sub_7kAxfNML6jIc3bltGIt0uK2nKHDyzzq3",
    "disc_F9NXdvflVDyE3KOz2qxLw0e31eBeLcDq");
```

```go
<%= partial "header-go" %>
discount, err := client.NewDiscount().Find("sub_7kAxfNML6jIc3bltGIt0uK2nKHDyzzq3",
    "disc_F9NXdvflVDyE3KOz2qxLw0e31eBeLcDq")
```

Fetch a discount from its ID and subscription. Throws an error if the discount could
not be found.

### Delete a discount

```shell
curl -X DELETE https://api.processout.com/subscriptions/sub_7kAxfNML6jIc3bltGIt0uK2nKHDyzzq3/discounts/disc_F9NXdvflVDyE3KOz2qxLw0e31eBeLcDq \
    -u proj_OvJdvN73Ds1pecfQez2J13pK1YlRqFh4:key-qiOniTQlt8OazoMrnYJKaSnBhRpWN5Rd
```

```javascript
<%= partial "header-js" %>
client.newDiscount().find("sub_7kAxfNML6jIc3bltGIt0uK2nKHDyzzq3",
    "disc_F9NXdvflVDyE3KOz2qxLw0e31eBeLcDq").then(
        function(discount) {
            discount.delete().then(function(success) {
                // 

            }, function(err) {
                // Could not delete it

            });

        }, function(err) {
            // An error occured

        });
```

```python
<%= partial "header-python" %>
discount = client.new_discount().find("sub_7kAxfNML6jIc3bltGIt0uK2nKHDyzzq3",
    "disc_F9NXdvflVDyE3KOz2qxLw0e31eBeLcDq")
discount.delete()
```

```ruby
<%= partial "header-ruby" %>
discount = client.discount.find("sub_7kAxfNML6jIc3bltGIt0uK2nKHDyzzq3",
    "disc_F9NXdvflVDyE3KOz2qxLw0e31eBeLcDq")
discount.delete
```

```php
<%= partial "header-php" %>
$discount = $client->newDiscount()->find("sub_7kAxfNML6jIc3bltGIt0uK2nKHDyzzq3",
    "disc_F9NXdvflVDyE3KOz2qxLw0e31eBeLcDq");
$discount->delete();
```

```go
<%= partial "header-go" %>
discount, _ := client.NewDiscount().Find("sub_7kAxfNML6jIc3bltGIt0uK2nKHDyzzq3",
    "disc_F9NXdvflVDyE3KOz2qxLw0e31eBeLcDq")
_, err := discount.Delete()
```

Deletes a discount. An error is thrown if the discount could not be deleted.
