---
title: Incremental authorization
---

# Incrementing an existing authorized invoice
If a payment was requested with an estimated authorization, you can increase the authorization amount for that payment by submitting incremental authorizations.
The incremental authorization feature is allowed just on the PSPs that support the feature and the transaction status has to be authorized.

Use the details below to set up your request.

<div class="language-selector-wrapper">
<%= partial "lg-selector" %>
```shell
curl -X POST https://api.processout.com/invoices/iv_MgeLS2Rr3ZGwjqOvDvYSuWx7ce88luXl/increment_authorization \
    <%= partial "header-curl" %>
    -d amount="10.00"
```

```javascript
<%= partial "header-js" %>
invoice.incrementAuthorization("iv_MgeLS2Rr3ZGwjqOvDvYSuWx7ce88luXl","10.00").then(
    function(transaction) {
        // The authorization amount was incremented and returned a transaction

    }, function(err) {
        // The The authorization amount could not be incremented
    });
```

```python
<%= partial "header-python" %>
transaction = invoice.increment_authorization("iv_MgeLS2Rr3ZGwjqOvDvYSuWx7ce88luXl","10.00")
```

```ruby
<%= partial "header-ruby" %>
transaction = invoice.increment_authorization("iv_MgeLS2Rr3ZGwjqOvDvYSuWx7ce88luXl","10.00")
```

```php
<%= partial "header-php" %>
$transaction = $invoice->incrementAuthorization("10.00");
```

```go
<%= partial "header-go" %>
tr, _ := iv.IncrementAuthorization("10.00")
```
</div>