## Events

> Below is an example of the content of the `data` field of an event.

```json
{
    "name": "transaction.captured",
    "sandbox": false,
    "transaction": {
        "id": "tr_WZIEktoQtzflmfv4aJA645Qwj3JzaVGa",
        "invoice_id": "iv_CKL1LOXGZ71wYAqGCyfDFhDTR3MGPkLY",
        "invoice": {  
            "id":"<%= partial "projectID" %>",
            "name":"T-Shirt Size M",
            "price":"22.99",
            "total":"22.99",
            "currency":"USD",
            "request_email":true,
            "request_shipping":false,
            "return_url":"https://sales.appgrouplimited.com",
            "cancel_url":null,
            "sandbox":false,
            "url":"https://checkout.processout.com/iv_...",
            "created_at":"2016-11-05T13:05:27.136003Z"
        },
        "customer_id": "cust_74qLxAbCpEYOxiBBwXTPKTP4QgTstude",
        "customer":{
            "id":"cust_74qLxAbCpEYOxiBBwXTPKTP4QgTstude",
            "balance":"0",
            "currency":"USD",
            "email":"john@gmail.com",
            "first_name":"",
            "last_name":"",
            "address1":"",
            "address2":"",
            "city":"",
            "state":"",
            "zip":"",
            "country_code":"",
            "metadata":{},
            "sandbox":false,
            "created_at":"2016-11-05T13:05:47.963398Z",
            "transactions_count":1,
            "subscriptions_count":0,
            "mrr_local":0,
            "total_revenues_local":22.99
        },
        "card_id": "card_knolIrMhVyZXLyYwZ56o6jxgYslH0Sqy",
        "card": {
            "address1": null,
            "address2": null,
            "avs_check": "unknown",
            "cvc_check": "passed",
            "bank_name": "",
            "brand": "",
            "city": null,
            "country": "US",
            "created_at": "2017-03-17T17:05:08.675622Z",
            "exp_month": 10,
            "exp_year": 2018,
            "expires_soon": false,
            "id": "card_knolIrMhVyZXLyYwZ56o6jxgYslH0Sqy",
            "iin": "424242",
            "last_4_digits": "4242",
            "metadata": {},
            "name": null,
            "project_id": "9b66d6da-45e7-489f-bf91-0a012fe60490",
            "sandbox": false,
            "scheme": "visa",
            "state": null,
            "type": "credit",
            "zip": null
        },
        "refunds": [],
        "status": "completed",
        "created_at": "2017-03-17T17:04:55.813311Z",
        "amount": "22.99",
        "authorized": true,
        "authorized_amount": "22.99",
        "available_amount": "22.99",
        "captured": true,
        "captured_amount": "22.99",
        "refunded_amount": "0",
        "currency": "EUR",
        "details": {
            "country": null
        },
        "error_code": null,
        "estimated_fee": "0.57",
        "gateway_fee": "0.51",
        "gateway_fee_details": {
            "exchange_fee": "0",
            "processing_fee": "0.51",
            "refund_fee": "0"
        },
        "gateway_name": "stripe",
        "metadata": {},
        "name": "T-Shirt Size M",
        "sandbox": false
    }
}
```

When a resource's state changes, ProcessOut will create an `Event` object which can
be programmatically fetched. This can be used to notify your application
when a transaction gets completed, or when a subscription iterates to its next
period, but can also have many other possible applications.

You can find all the events we currently fire [here](#transaction-events).

It is also important to note that events are extremely powerful when they're
coupled with [webhooks](#webhooks). As soon as an event is created, we'll send
a request to your web application to notify you of this new event so it can
fetched and processed.

**You may find on the right pane an example of what the content of the `data` field
might look like.** The data is basically composed of the object the event describes
at the top level, and this object has its first level resources expanded (when
available). If you wish to access deeper resources, you will need to fetch those
from the API.

##### Attributes
|||
--:|:--
**id**<br />*string*<br />Read-only |
**name**<br />*string*<br />Read-only | Name of the event corresponding to the action
**data**<br />*json object*<br />Read-only | Data linked to the event
**sandbox**<br />*boolean*<br />Read-only |
**fired_at**<br />*RFC1123 date or timestamp*<br />Read-only |


### Fetch an event

```shell
curl https://api.processout.com/events/ev_T3wg9169RyGLnf1BIgTjLhrolEZU1DSb \
    <%= partial "header-curl" %>
```

```javascript
<%= partial "header-js" %>
client.newEvent().find("ev_T3wg9169RyGLnf1BIgTjLhrolEZU1DSb").then(
    function(event) {
        // We may now access the event

    }, function(err) {
        // An error occured

    });
```

```python
<%= partial "header-python" %>
event = client.new_event().find("ev_T3wg9169RyGLnf1BIgTjLhrolEZU1DSb")
```

```ruby
<%= partial "header-ruby" %>
event = client.event.find("ev_T3wg9169RyGLnf1BIgTjLhrolEZU1DSb")
```

```php
<%= partial "header-php" %>
$event = $client->newEvent()->find("ev_T3wg9169RyGLnf1BIgTjLhrolEZU1DSb");
```

```go
<%= partial "header-go" %>
ev, err := client.NewEvent().Find("ev_T3wg9169RyGLnf1BIgTjLhrolEZU1DSb")
```

Fetch an event by its ID. An error is thrown when the event could not be found.


### Transaction events

The transaction events are created when an update regarding a [transaction](#transactions)
occurs. Because transactions are strongly linked to [invoices](#invoices), you can
listen to a transaction event to be notified of an invoice event. The transaction
event will always contain an `invoice_id` field containing the `id` of the invoice
it was linked to.

##### Events
|||
--:|:--
<div style="white-space: nowrap; color: #795da3;" class="console-font smaller">transaction.requested</div> | A payment request was made. No payment has been placed yet
<div style="white-space: nowrap; color: #795da3;" class="console-font smaller">transaction.authorized</div> | The payment has been authorized. It is not yet available in your balance and must first be captured
<div style="white-space: nowrap; color: #795da3;" class="console-font smaller">transaction.captured</div> | The payment has been captured and funds have been confirmed
<div style="white-space: nowrap; color: #795da3;" class="console-font smaller">transaction.failed</div> | The payment has failed
<div style="white-space: nowrap; color: #795da3;" class="console-font smaller">transaction.voided</div> | The transaction has been voided and can't be captured anymore
<div style="white-space: nowrap; color: #795da3;" class="console-font smaller">transaction.refunded</div> | You issued a refund on the transaction. The amount of the refund can be found in the field `refunded_amount` and in the `refunds` objects list
<div style="white-space: nowrap; color: #795da3;" class="console-font smaller">transaction.chargeback.created</div> | A chargeback has been filled by your customer
<div style="white-space: nowrap; color: #795da3;" class="console-font smaller">transaction.chargeback.won</div> | The previously filled chargeback was resolved in your favor
<div style="white-space: nowrap; color: #795da3;" class="console-font smaller">transaction.chargeback.lost</div> | The previously filled chargeback was resolved in your customer's favor
<div style="white-space: nowrap; color: #795da3;" class="console-font smaller">transaction.adjusted</div> | The transaction was adjusted by your payment provider (such as refunds on payment fees with credits)

### Subscription events

The subscription events are fred when an update regarding
a [subscription](#subscriptions) occurs.

*Note:* When a subscription iterates, a new [invoice](#invoices)
and its associated [transaction](#transactions) will be created and  marked as
completed, and its corresponding event will also be fired.

##### Events
|||
--:|:--
<div style="white-space: nowrap; color: #795da3;" class="console-font smaller">subscription.created</div> | A new subscription resource was created
<div style="white-space: nowrap; color: #795da3;" class="console-font smaller">subscription.started</div> | The subscription started
<div style="white-space: nowrap; color: #795da3;" class="console-font smaller">subscription.iterated</div> | The customer paid for the current iteration of its subscription
<div style="white-space: nowrap; color: #795da3;" class="console-font smaller">subscription.trial.ending_soon</div> | The subscription trial is ending soon. You may use this event to notify your customer to update their billing details if not done yet
<div style="white-space: nowrap; color: #795da3;" class="console-font smaller">subscription.trial.ended</div> | The subscription trial ended
<div style="white-space: nowrap; color: #795da3;" class="console-font smaller">subscription.payment_failed</div> | The payment of the current subscription period failed
<div style="white-space: nowrap; color: #795da3;" class="console-font smaller">subscription.canceled</div> | The customer's subscription was canceled <br />*Note:* It might have been canceled because the payment gateway refused your customer's payment (ex: when the credit card expired). The reason of the cancellation is available in the `cancellation_reason` attribute of the subscription

### Customer events

The customer events are fired when an update regarding a [customer](#customers)
occurs.

##### Events
|||
--:|:--
<div style="white-space: nowrap; color: #795da3;" class="console-font smaller">customer.created</div> | A new customer resource was created
<div style="white-space: nowrap; color: #795da3;" class="console-font smaller">customer.updated</div> | The customer resource was updated
<div style="white-space: nowrap; color: #795da3;" class="console-font smaller">customer.deleted</div> | The customer resource was deleted

### Customer token events

The customer token events are fired when an update regarding a [customer token](#tokens)
occurs.

##### Events
|||
--:|:--
<div style="white-space: nowrap; color: #795da3;" class="console-font smaller">customer.token.created</div> | A new customer token resource was created
<div style="white-space: nowrap; color: #795da3;" class="console-font smaller">customer.token.updated</div> | The customer token resource was updated
<div style="white-space: nowrap; color: #795da3;" class="console-font smaller">customer.token.deleted</div> | The customer token resource was deleted

### Plan events

The plan events are fired when an update regarding a [plan](#plans)
occurs.

##### Events
|||
--:|:--
<div style="white-space: nowrap; color: #795da3;" class="console-font smaller">plan.created</div> | A new plan resource was created
<div style="white-space: nowrap; color: #795da3;" class="console-font smaller">plan.updated</div> | The plan resource was updated
<div style="white-space: nowrap; color: #795da3;" class="console-font smaller">plan.deleted</div> | The plan resource was deleted

### Product events

The product events are fired when an update regarding a [product](#products)
occurs.

##### Events
|||
--:|:--
<div style="white-space: nowrap; color: #795da3;" class="console-font smaller">product.created</div> | A new product resource was created
<div style="white-space: nowrap; color: #795da3;" class="console-font smaller">product.updated</div> | The product resource was updated
<div style="white-space: nowrap; color: #795da3;" class="console-font smaller">product.deleted</div> | The product resource was deleted

### Coupon events

The coupon events are fired when an update regarding a [coupon](#coupon)
occurs.

##### Events
|||
--:|:--
<div style="white-space: nowrap; color: #795da3;" class="console-font smaller">coupon.created</div> | A new coupon resource was created
<div style="white-space: nowrap; color: #795da3;" class="console-font smaller">coupon.updated</div> | The coupon resource was updated
<div style="white-space: nowrap; color: #795da3;" class="console-font smaller">coupon.deleted</div> | The coupon resource was deleted