<div id="accept-payments-category"></div>

## Invoices

An invoice is the core resource for a merchant who wants to accept payments online
using the ProcessOut API. To start using invoices, [let's create one](#create-an-invoice).

##### Attributes
|||
--:|:--
<span class="console-font">**id**</span><br />*string*<br />Read-only |
<span class="console-font">**url**</span><br />*string*<br />Read-only | `URL` to the ProcessOut checkout page
<span class="console-font">**customer**</span><br />*[Customer](#customers)*<br />Read-only |
<span class="console-font">**transaction**</span><br />*[Transaction](#transactions)*<br />Read-only |
<span class="console-font">**subscription**</span><br />*[Subscription](#subscriptions)*<br />Read-only |
<span class="console-font">**name**</span><br />*string*<br /><span class="highlighted">Required</span> | Name of the invoice/item to sell
<span class="console-font">**statement_descriptor**</span><br />*string* | Statement that will be shown on your customer's bank account
<span class="console-font">**amount**</span><br />*string*<br /><span class="highlighted">Required</span> | Amount to be paid
<span class="console-font">**currency**</span><br />*string*<br /><span class="highlighted">Required</span> | Currency of the invoice, in the ISO 4217 format (ex: `USD`)
<span class="console-font">**return_url**</span><br />*string* | `URL` used to redirect the customer once the payment is placed
<span class="console-font">**cancel_url**</span><br />*string* | `URL` used to redirect the customer when the payment is canceled |ProcessOut cancelation landing page
<span class="console-font">**metadata**</span><br />[Metadata](#metadata)<br />*dictionary* | Context related to the invoice, key-value pair (string - string)
<span class="console-font">**sandbox**</span><br />*boolean*<br />Read-only |

### Create an invoice

```shell
curl https://api.processout.com/invoices \
    -u proj_OvJdvN73Ds1pecfQez2J13pK1YlRqFh4:key-qiOniTQlt8OazoMrnYJKaSnBhRpWN5Rd \
    -d name="Amazing item" \
    -d statement_descriptor="amazing item" \
    -d amount="4.99" \
    -d currency="USD"
```

```javascript
<%= partial "header-js" %>
client.NewInvoice({
    name:                 "Amazing item",
    statement_descriptor: "amazing item",
    amount:               "4.99",
    curency:              "USD"
}).create().then(function(invoice) {
    // invoice is our newly created resource

}, function(err) {
    // An error occured

});
```

```python
<%= partial "header-python" %>
invoice = client.newInvoice({
    "name":                 "Amazing item",
    "statement_descriptor": "amazing item",
    "amount":               "4.99",
    "curency":              "USD"
}).create()
```

```ruby
<%= partial "header-ruby" %>
invoice = client.invoice.new(
    name:                 "Amazing item",
    statement_descriptor: "amazing item",
    amount:               "4.99",
    curency:              "USD"
).create
```

```php
<%= partial "header-php" %>
$invoice = $client->newInvoice(array(
    "name"                 => "Amazing item",
    "statement_descriptor" => "amazign item",
    "amount"               => "4.99",
    "curency"              => "USD"
))->create();
```

```go
<%= partial "header-go" %>
iv, err := client.NewInvoice(&processout.Invoice{
	Name:     "Amazing item",
	Amount:   "4.99",
	Currency: "USD",
}).Create()
```

Creating an invoice for your customers can be done on your server's backend.
Simply create an Invoice resource with a `name`, `amount` and `currency`.

### Fetch an invoice

```shell
curl https://api.processout.com/invoices/iv_MgeLS2Rr3ZGwjqOvDvYSuWx7ce88luXl \
    -u proj_OvJdvN73Ds1pecfQez2J13pK1YlRqFh4:key-qiOniTQlt8OazoMrnYJKaSnBhRpWN5Rd
```

```javascript
<%= partial "header-js" %>
client.newInvoice().find("iv_MgeLS2Rr3ZGwjqOvDvYSuWx7ce88luXl").then(
    function(invoice) {
        // The invoice was fetched

    }, function(err) {
        // The invoice could not be found
    });
```

```python
<%= partial "header-python" %>
invoice = client.newInvoice().find("iv_MgeLS2Rr3ZGwjqOvDvYSuWx7ce88luXl")
```

```ruby
<%= partial "header-ruby" %>
invoice = client.invoice.find("iv_MgeLS2Rr3ZGwjqOvDvYSuWx7ce88luXl")
```

```php
<%= partial "header-php" %>
$invoice = $client->newInvoice()->find("iv_MgeLS2Rr3ZGwjqOvDvYSuWx7ce88luXl");
```

```go
<%= partial "header-go" %>
iv, err := client.NewInvoice().Find("iv_MgeLS2Rr3ZGwjqOvDvYSuWx7ce88luXl")
```

Invoices can be fetched from ProcessOut by using their IDs. If the invoice
could not be found, an error is thrown.

### Assign a customer

```shell
curl -X PUT https://api.processout.com/invoices/iv_MgeLS2Rr3ZGwjqOvDvYSuWx7ce88luXl \
    -u proj_OvJdvN73Ds1pecfQez2J13pK1YlRqFh4:key-qiOniTQlt8OazoMrnYJKaSnBhRpWN5Rd \
    -d customer_id=cust_uYW5WVnjHe91qnsUA1sHOxEjdAySvg0P
```

```javascript
<%= partial "header-js" %>
invoice.assignCustomer("cust_uYW5WVnjHe91qnsUA1sHOxEjdAySvg0P");
```

```python
<%= partial "header-python" %>
invoice.assignCustomer("cust_uYW5WVnjHe91qnsUA1sHOxEjdAySvg0P")
```

```ruby
<%= partial "header-ruby" %>
invoice.assignCustomer("cust_uYW5WVnjHe91qnsUA1sHOxEjdAySvg0P")
```

```php
<%= partial "header-php" %>
$invoice->assignCustomer("cust_uYW5WVnjHe91qnsUA1sHOxEjdAySvg0P");
```

```go
<%= partial "header-go" %>
iv.AssignCustomer("cust_uYW5WVnjHe91qnsUA1sHOxEjdAySvg0P")
```

It is also possible to assign a customer to an invoice that was previously created.
This can help track orders related to your customers.

A customer's invoice is immutable, meaning that once it is set it cannot be changed.
If you'd like to link another customer to the invoice, you will need to create
a new invoice.

### Capture an invoice

```shell
curl https://api.processout.com/invoices/iv_MgeLS2Rr3ZGwjqOvDvYSuWx7ce88luXl/capture \
    -u proj_OvJdvN73Ds1pecfQez2J13pK1YlRqFh4:key-qiOniTQlt8OazoMrnYJKaSnBhRpWN5Rd \
    -d source=card_1jSEVrx7oaRta1KEdxoMWbiGkK2MijrZ
```

```javascript
<%= partial "header-js" %>
// The source could also be a token tok_fKK4btSG7wd13ZZaevzhMcuNbpjcu1Zy
invoice.capture("card_1jSEVrx7oaRta1KEdxoMWbiGkK2MijrZ").then(
    function(transaction) {
        // The invoice was captured and returned a transaction

    }, function(err) {
        // The invoice could not be captured
    });
```

```python
<%= partial "header-python" %>
# The source could also be a token tok_fKK4btSG7wd13ZZaevzhMcuNbpjcu1Zy
transaction = invoice.capture("card_1jSEVrx7oaRta1KEdxoMWbiGkK2MijrZ")
```

```ruby
<%= partial "header-ruby" %>
# The source could also be a token tok_fKK4btSG7wd13ZZaevzhMcuNbpjcu1Zy
transaction = invoice.capture("card_1jSEVrx7oaRta1KEdxoMWbiGkK2MijrZ")
```

```php
<%= partial "header-php" %>
// The source could also be a token tok_fKK4btSG7wd13ZZaevzhMcuNbpjcu1Zy
$transaction = $invoice->capture("card_1jSEVrx7oaRta1KEdxoMWbiGkK2MijrZ");
```

```go
<%= partial "header-go" %>
// The source could also be a token tok_fKK4btSG7wd13ZZaevzhMcuNbpjcu1Zy
tr, _ := iv.Capture("card_1jSEVrx7oaRta1KEdxoMWbiGkK2MijrZ")
```

Capturing an invoice is done by calling `capture` on the invoice and passing
the `source` to be used to capture the payment in the parameters. If an error
occured while capturing the payment, an error is thrown. Otherwise, the
transaction linked to the invoice is updated and returned.

Be sure to check the [status](#statuses) field of the [Transaction](#transactions)
to make sure the payment fully made it through. If the payment is not yet
completed, we will create new [Events](#events) to keep you updated regarding the status
of the transaction.

Capturing an invoice can be done using a `card`, a [Token](#tokens) or a 
[Gateway request](#).