---
title: Testing your integration
---

# Testing your ProcessOut integration

Testing your ProcessOut integration is crucial to make sure everything works
as intended before pushing your code into production. ProcessOut provides you
with a few tools you can use to quickly check everything.

<hr>

## Testing environment

A testing environment is available for developers who want to test their
integration of ProcessOut. We strongly advise you to use our testing environment
when implementing any of our products.

Most of the ProcessOut objects can be created in the production or test environments.
Objects created in one environment will not be available in the other. Objects
created in the testing environment will have the attribute `sandbox` set to
`true`.

To enable the testing environment, simply prepend your project ID with `test-`
when instanciating the ProcessOut clients and use your sandbox private key, like so:

<div class="language-selector-wrapper">
<%= partial "lg-selector" %>
```shell
curl -X GET https://api.processout.com/ \
    <%= partial "header-curl" %>
```

```javascript
<%= partial "header-js" %>
```

```python
<%= partial "header-python" %>
```

```ruby
<%= partial "header-ruby" %>
```

```php
<%= partial "header-php" %>
```

```go
<%= partial "header-go" %>
```
</div>

**Warning:** Remember to remove the `test` prefix when switching to production.

## Test cards

When using the test environment, test cards can be used to simulate real-world cards.
We provide you with a handy set of test cards in different brands, as well as
special cards which will have a special effect when used during checkout. This
is meant to help you test special test cases easily.

Please note that any real-world card will not work in the test environment. Also,
the expiry date and CVC code of the cards will not be checked. 

|||
--:|:--
 | *Cards that will result in a successful payment:*
<div style="white-space: nowrap; color: #795da3;" class="console-font">4242 4242 4242 4242</div> | VISA 
<div style="white-space: nowrap; color: #795da3;" class="console-font">5555 5555 5555 4444</div> | Mastercard 
<div style="white-space: nowrap; color: #795da3;" class="console-font">3782 82246 310005</div>   | American Express 
<div style="white-space: nowrap; color: #795da3;" class="console-font">3012 3456 7890 19</div>   | Diners Club 
<div style="white-space: nowrap; color: #795da3;" class="console-font">3530 1113 3330 0000</div> | JCB 
<div style="white-space: nowrap; color: #795da3;" class="console-font">6011 1111 1111 1117</div> | Discover 
 | *Successful cards with different issuing countries:*
<div style="white-space: nowrap; color: #795da3;" class="console-font">4977 8300 0000 0001</div> | FR 
<div style="white-space: nowrap; color: #795da3;" class="console-font">4556 6200 0000 0005</div> | FR (carte-bancaire)
<div style="white-space: nowrap; color: #795da3;" class="console-font">4658 5800 0000 0008</div> | GB 
<div style="white-space: nowrap; color: #795da3;" class="console-font">4571 7300 0000 0003</div> | DK 
<div style="white-space: nowrap; color: #795da3;" class="console-font">4023 6000 0000 0002</div> | IT 
<div style="white-space: nowrap; color: #795da3;" class="console-font">4338 3000 0000 0009</div> | AR 
<div style="white-space: nowrap; color: #795da3;" class="console-font">4835 9100 0000 0003</div> | CN 
 | *Cards with 3-D Secure specific behaviour:*
<div style="white-space: nowrap; color: #795da3;" class="console-font">4000 0000 0000 0101</div> | 3-D Secure supported and required on the card
<div style="white-space: nowrap; color: #795da3;" class="console-font">4000 0000 0000 0119</div> | 3-D Secure not supported on the card
<div style="white-space: nowrap; color: #795da3;" class="console-font">4000 0000 0000 0259</div> | 3-D Secure v2 supported but v1 not supported
<div style="white-space: nowrap; color: #795da3;" class="console-font">4000 0000 0000 3238</div> | 3-D Secure v2 not supported but v1 supported
<div style="white-space: nowrap; color: #795da3;" class="console-font">4000 0000 0000 3055</div> | 3-D Secure v2 supported with frictionless (no fingerprint)
<div style="white-space: nowrap; color: #795da3;" class="console-font">4000 0000 0000 3063</div> | 3-D Secure v2 supported with frictionless (with fingerprint)
<div style="white-space: nowrap; color: #795da3;" class="console-font">4000 0000 0000 3220</div> | 3-D Secure v2 supported with fingerprint failing
<div style="white-space: nowrap; color: #795da3;" class="console-font">4000 0000 0000 3253</div> | 3-D Secure v2 required for SCA, no authentication when Merchant Initiated Transaction
<div style="white-space: nowrap; color: #795da3;" class="console-font">4000 0000 0000 3246</div> | 3-D Secure v1 required but v2 not supported
 | *Cards that will have a special behaviour:*
<div style="white-space: nowrap; color: #795da3;" class="console-font">4000 0000 0000 0002</div> | The credit card will be denied
<div style="white-space: nowrap; color: #795da3;" class="console-font">4000 0000 0000 0010</div> | The authorization on the card will be successful, but any capture will fail
<div style="white-space: nowrap; color: #795da3;" class="console-font">4000 0000 0000 0028</div> | The CVC check will fail
<div style="white-space: nowrap; color: #795da3;" class="console-font">4000 0000 0000 0036</div> | The AVS check will fail
<div style="white-space: nowrap; color: #795da3;" class="console-font">4000 0000 0000 0044</div> | The CVC and AVS checks will both fail
<div style="white-space: nowrap; color: #795da3;" class="console-font">4000 0000 0000 0069</div> | The payment will be successful, but a chargeback will be initiated as soon as the payment makes it through
<div style="white-space: nowrap; color: #795da3;" class="console-font">4000 0000 0000 0077</div> | The payment will be successful, but refunds will be declined
<div style="white-space: nowrap; color: #795da3;" class="console-font">4000 0000 0000 0085</div> | The authorization will be successful, but an AVS Postal check will fail
<div style="white-space: nowrap; color: #795da3;" class="console-font">4000 0000 0000 0093</div> | The authorization will be successful, but an AVS Street check will fail
<div style="white-space: nowrap; color: #795da3;" class="console-font">4000 0000 0000 0200</div> | The payment will be successful, but a failed chargeback will be initiated as soon as the payment makes it through
<div style="white-space: nowrap; color: #795da3;" class="console-font">4000 0000 0000 0309</div> | The payment will be successful, but a retrieval request will be initiated as soon as the payment makes it through
<div style="white-space: nowrap; color: #795da3;" class="console-font">4000 0000 0000 1216</div> | The card will succeed on a verification but fail on a transaction
<div style="white-space: nowrap; color: #795da3;" class="console-font">4000 0000 0000 4004</div> | The payment will be successful, but a fraud notification will be sent
